@CHARSET "UTF-8";
/* Global Concept */
* {
	margin: 0px;
	padding: 0px;
}

div.box {
	border: 1px solid;
	background-color: silver;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

div.errors {
	color: red;
	font-weight: bold;
}

div.errors_detail {
	text-align: left;
	color: black;
}

.centeringContainer {
	text-align: center;
}

.centered {
	display: table;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

div#paging {
	width: 100%;
	margin: 0 auto;
}

div#paging ul {
	list-style-type: none;
	margin: 0 auto;
}

div#paging ul li {
	float: left;
	margin: 3px;
	padding: 5px;
	border: 1px solid;
	background: silver;
}

div#paging ul li#current {
	background: green;
}

div#paging ul li#pre {
	background: green;
}

div#paging ul li#next {
	background: green;
}

div#paging ul a:hover {
	color: RED;
}

div#paging ul li:AFTER {
	clear: both;
}