<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cj.fwmobile.sfa.android"
    android:versionCode="2"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- GPS Permission -->
    <!-- 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    -->
    
    <!-- App receives GCM messages. -->
    <!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->
    <!-- GCM connects to Google Services. -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- GCM requires a Google account. -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- Keeps the processor from sleeping when a message is received. -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->

    <!-- <permission
        android:name="cj.fwmobile.sfa.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" /> -->

    <!-- <uses-permission android:name="cj.fwmobile.sfa.android.permission.C2D_MESSAGE" /> -->
    <!--
         <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >    -->
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity" 
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/PezCustomMainTheme"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/PezCustomMainTheme"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".CommonDialogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Dialog" >
        </activity>

        <provider
            android:name=".pez.provider.LocalContentFileProvider"
            android:authorities="cj.mobile" />

       <!--  <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="cj.fwmobile.sfa.android" />
            </intent-filter>
        </receiver>
        
        <service android:name=".GCMIntentService" /> -->
    </application>

</manifest>