<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phillit.pez.board.service.dao.IBoardMapper">
	<insert id="doWrite" parameterType="BoardDataModel" flushCache="true"
		keyColumn="bSeq" keyProperty="bSeq" useGeneratedKeys="true">
		<selectKey order="AFTER" keyProperty="bSeq" resultType="int"
			statementType="PREPARED">select last_insert_id()</selectKey>
		insert into board_data(boardName, register, subject, content)
		values(#{boardName}, #{register}, #{subject}, #{content})
	</insert>

	<update id="doUpdateToRef" parameterType="BoardDataModel">
		update board_data set
		ref=#{bSeq} where bSeq=#{bSeq}
	</update>

	<select id="getList" resultType="BoardDataModel" parameterType="BoardListModel">
		select * from board_data
		<trim prefix="where" prefixOverrides="and |or ">
			and isEnabled=0
			<if test="@org.springframework.util.StringUtils@hasLength(boardName)">
				and boardName=#{boardName}
			</if>
			<if test="@org.springframework.util.StringUtils@hasLength(searchValue)">
				<choose>
					<when test="searchField.ieq(searchField, 'subject')">
						and subject like concat('%',#{searchValue}, '%')
					</when>
					<when test="searchField.ieq(searchField, 'content')">
						and content like concat('%',#{searchValue}, '%')
					</when>
					<when test="searchField.ieq(searchField, 'regdate')">
						and regdate like concat('%',#{searchValue}, '%')
					</when>
				</choose>
			</if>
		</trim>
		order by ref desc, step asc limit ${startPageBoard}, ${pagePerSize} 
	</select>
	
	<select id="getListTotalCount" resultType="int" parameterType="BoardListModel">
	   select count(bSeq) from board_data
        <trim prefix="where" prefixOverrides="and |or ">
            and isEnabled=0
            <if test="@org.springframework.util.StringUtils@hasLength(boardName)">
                and boardName=#{boardName}
            </if>
            <if test="@org.springframework.util.StringUtils@hasLength(searchValue)">
                <choose>
                    <when test="searchField.ieq(searchField, 'subject')">
                        and subject like concat('%',#{searchValue}, '%')
                    </when>
                    <when test="searchField.ieq(searchField, 'content')">
                        and content like concat('%',#{searchValue}, '%')
                    </when>
                    <when test="searchField.ieq(searchField, 'regdate')">
                        and regdate like concat('%',#{searchValue}, '%')
                    </when>
                </choose>
            </if>
        </trim>
	</select>
	
	<select id="getFirstBoard" resultType="BoardModel">
	   select * from board where boardOrder=(select min(boardOrder) from board)
	</select>
</mapper>